


* {
    box-sizing: border-box;
}

body{
    margin: 0;
    direction: rtl;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
/*    margin: 0 auto;*/
}



.first-page img {
width: 100%;
}
.first-page{
}
.book-name{
    top: 250px;
}
/* Header */

.page-header{
}
.page-header img{
    width: 100%;
}
.header-text{
    display: none;
    top:40px;
    right: 200px;
    color: #308DBD;
}

/* content */

.page-content {
    padding: 5px 100px;
}

.page-content p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.page-content h2 {
    font-size: 20px;
    color: #8533B3;
    padding-bottom: 20px;
}

.page-content h3 {
    font-size: 16px;
/*    font-style: italic;*/
    font-weight: bold;
    color: #4472C4;
    padding-bottom: 20px;
}


@media screen and (max-width:1024px){

    .page-content p {
        font-size: 16px;
    }
    .page-content h2 {
        font-size: 20px;
    }
    .page-content h3 {
        font-size: 16px;
    }
}
@media screen and (max-width:900px){
 
}
@media screen and (max-width:768px){
    .page-content {
        padding: 5px 50px;
    }
    .page-content p {
        font-size: 14px;
        line-height: 25px;
    }
    
    .page-content h2 {
        font-size: 18px;
        padding-bottom: 14px;
    }
    .page-content h3 {
        font-size: 14px;
        padding-bottom: 14px;
    }
}
@media screen and (max-width:600px){
    .page-content {
        padding: 5px 50px;
    }
    
    .page-content p {
        font-size: 12px;
        line-height: 20px;
    }
    
    .page-content h2 {
        font-size: 16px;
        padding-bottom: 14px;
    }
    .page-content h3 {
        font-size: 12px;
        padding-bottom: 14px;
    }
    
}
@media screen and (max-width:480px){
    .page-content {
        padding: 5px 25px;
    }
    .page-content p {
        font-size: 11px;
        line-height: 18px;
    }
    
    .page-content h2 {
        font-size: 15px;
        padding-bottom: 14px;
    }
    
    .page-content h3 {
        font-size: 11px;
        padding-bottom: 14px;
    }
    
}
/* box */

.message-box{
/*    display: flex;*/
    align-items: center;
    padding:30px 35px;
    border-radius: 25px;
    margin: 40px 0;
}
.image-box{
    flex: 20%;
}
.image-box img{
    width: 100%;
    min-width: 100%;
}
.content-box{
    flex: 80%;
    font-size: 15px;
    color: #463e3e;
    line-height: 30px;
    padding: 0 25px 0 0;
    text-align: justify;
}

.report {
    background-color: #F8CBAD;
}

.warning{
background-color: #FFE699;
}

.lightbulb{
    background-color: #E2F0D9;
}

@media screen and (max-width:1024px){

}
@media screen and (max-width:900px){
    .image-box{
        flex: 25%;
    }
    .content-box{
        flex: 75%;
        font-size: 15px;
        line-height: 35px;
        padding: 0 15px 0 0;
    }
}
@media screen and (max-width:768px){
    .content-box{
        font-size: 13px;
        line-height: 25px;
    }
}
@media screen and (max-width:600px){
    .message-box{
        padding:20px 15px;

    }
    .image-box img{
        max-width: 125px;
        max-height: 125px;
    }
    .content-box{
        font-size: 12px;
        line-height: 22px;
    }
    
}
@media screen and (max-width:480px){
    .image-box img{
        max-width: 110px;
        max-height: 110px;
    }
    .content-box{
        font-size: 10px;
        line-height: 18px;
        padding: 0 10px 0 0;

    }
}
@media screen and (max-width:360px){
    .message-box{
flex-direction: column;
    }
    .image-box img{
        max-width: 75px;
        max-height: 75px;
        margin-bottom: 12px;
    }
    .content-box{
        font-size: 10px;
        line-height: 18px;
        padding: 0 10px 0 0;
    }
}
/* Table */
.table{
    margin: 15px 0;
}
.table-row{
    display: flex;
    flex-direction: column;
}
.table-header{
    text-align: center;
    background-color: #E9D2FA;
    padding: 15px 0;
    font-size: 16px;
}
.table-inner{
    display: flex;
}
.table-inner-box{
    display: flex;
}
.table-inner>div{
    flex:50%;
}
.inner-header {
    padding: 0 35px;
    background-color:#E7E6E6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7030A0;

}
.inner-header h1{
    margin: 0;
}
.inner-content{
    padding: 5px;
    font-size: 16px;
    text-align: justify;
}

@media screen and (max-width:600px){
    .table-header{
  
        font-size: 12px;
    }
    .table-inner{
        flex-direction: column;
    }
    .table-inner-box{
        border-bottom: 1px solid #5555556c;
    }
    .inner-header{
        padding: 0;
        min-width: 75px;
        font-size: 14px;
    }
    .inner-content{
        font-size: 12px;
    }
}
@media screen and (max-width:240px){

    .inner-header{
        padding: 0;
        min-width: 40px;
        font-size: 11px;
    }
    .inner-content{
        font-size: 10px;
    }
}
/* Lists */

.lists{
    list-style: square;
    font-size: 16px;
    line-height: 35px;
}

/*.page-break{
    page-break-inside:avoid;
}*/

/*@media print {
  .page-break {page-break-before: always;}
}*/

@media screen and (max-width:1024px){
    .lists{
        font-size: 16px;
        line-height: 35px;
    }
}
@media screen and (max-width:900px){
    .lists{
        font-size: 15px;
        line-height: 35px;
    }
}
@media screen and (max-width:768px){
    .lists{
        font-size: 14px;
        line-height: 28px;
    }
}
@media screen and (max-width:600px){
    .lists {
        font-size: 12px;
        line-height: 24px;
    }
    
}
@media screen and (max-width:480px){
    .lists{
        font-size: 11px;
        line-height: 20px;
    }
}
